.remove-Btn{
    margin-right:0.5rem;
}

.fader-enter{
    opacity:0.01;
}
.fader-enter-active{
    opacity:1;
    transition: opacity 1000ms ease-in
}
.fader-exit{
    opacity: 1;
}
.fader-exit-active{
    opacity:0.01;
    transition: opacity 1000ms ease-in
}